* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
}
p {
  font-family: "Fira Sans", sans-serif;
}

.switch-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 30px;
  margin-right: 50px;
}
