* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
}

p {
  font-family: "Fira Sans", sans-serif;
}

.switch-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 30px;
  margin-right: 50px;


}

.personal-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 50%;
  margin-top: 80px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}